<link href='https://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>

<div class="wrap"> 

  <div *ngFor="let blog of myBlogs ; index as i" class="box box{{(i)%8+1}} shadow{{(i)%8+1}}" style="width:100%; height:auto">
    <div class="row" style="width:auto; height:auto">
      <div class="col" style="width:auto; height:auto">
        <h5>Title : {{blog.title}}</h5>
      </div>
      <div class="col" style="width:auto; height:auto">
        <h5> Writer : {{blog.email}} </h5>
      </div>
    </div>
    <h5 style="margin-bottom: 30px;">{{blog.content }}</h5>
  </div>
</div>  